﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_AddCategory.aspx.cs" Inherits="Admin_AddCategory" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table align="center" class="table">
 <tr>
        <td class="table">
            <table class="grayboxborder" cellpadding="0px" cellspacing="0px"class="formtab">

                <tr>
                <td>
                    <table class="gray table"width="1000px">
                    <tr>
                        <td align="left">Add New User</td>
                        <td align="right"><a href="">View all Users</a></td>
                    </tr>
                    </table>
                </td>
                </tr>

                <tr>
                <td>
                    <table class="errortab" >

                   

                    

                    <tr>
                    <td>
                        <table style="width: 970px ; " class="grayboxborder" cellpadding="0" cellspacing="0">
                        <tr>
                        <td class="form">Add new property</td>
                        </tr>

                        <tr>
                        <td>
                           <table class="innertab">
                           <tr>
                           <td>
                              
                               <asp:Button ID="Button1" runat="server" Text="Show Existing Categories" 
                                   onclick="Button1_Click" />
                            </td>
                           </tr>

                          <tr>
                              
                               
                           <td>
                               <asp:SqlDataSource ID="SqlDataSource1" runat="server" 
                                   ConnectionString="<%$ ConnectionStrings:tempconnectionstring %>" 
                                   SelectCommand="SELECT [Name] FROM [Category_Data]"></asp:SqlDataSource>
                                <asp:GridView ID="GridCategory" runat="server">
                               </asp:GridView>
                            </td>
                           </tr>

                           
                           <tr>
                              
                               
                           <td>
                              
                                <asp:TextBox ID="txtcategory" runat="server"></asp:TextBox>
                            </td>
                           </tr>
                           <tr>
                           
                           <td>
                              
                               <asp:Button ID="btaddcategory" runat="server" Text="Button" 
                                   onclick="btaddcategory_Click" />
                            </td>
                           </tr>
                           
                           </table>
                        </td>
                        </tr>



                        </table>
                    </td>
                    </tr>




                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="footer copyright" align="right">Copyright @ 2014 Wiki-Gujarat . All rights reserved.ights reserved.</td>
    </tr>
</table>
</asp:Content>

