﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Admin.master" AutoEventWireup="true" CodeFile="Admin_Dashboard.aspx.cs" Inherits="Admin_Dashboard" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<table align="center" class="table">
 <tr>
        <td class="table">
            <table class="grayboxborder" cellpadding="0px" cellspacing="0px"class="formtab">

                <tr>
                <td>
                    <table class="gray table"width="1000px">
                    <tr>
                        <td align="left">Add New User</td>
                        <td align="right"><a href="">View all Users</a></td>
                    </tr>
                    </table>
                </td>
                </tr>

                <tr>
                <td>
                    <table class="errortab" >

                    <tr>
                        <td  class="errormsg">
                        <table>
                        <tr>
                            <td><img src="images/error_message.jpg" alt="error" />&nbsp;</td>
                            <td>Error notification</td>
                        </tr>
                        </table>
                        </td>
                    </tr>

                    <tr>
                        <td class="space"></td>
                    </tr>

                    <tr>
                    <td>
                        <table style="width: 970px ; " class="grayboxborder" cellpadding="0" cellspacing="0">
                        <tr>
                        <td class="form">Add new property</td>
                        </tr>

                        <tr>
                        <td>
                            <table class="innertab">

                            <tr>
                            <td align="right">Username : </td>
                            <td align="left"><input type="text" class="textfield"/></td>
                            </tr>

                            <tr>
                            <td align="right">Password : </td>
                            <td align="left"><input type="text" class="textfield" /></td>
                            </tr>

                            <tr>
                            <td align="right">Email Address : </td>
                            <td align="left"><input type="text" class="textfield" /></td>
                            </tr>

                            <tr>
                            <td align="right">Country : </td>
                            <td align="left"><input type="text" class="textfield" /></td>
                            </tr>

                            <tr>
                            <td align="right">State : </td>
                            <td align="left"><input type="text" class="textfield" /></td>
                            </tr>

                            <tr>
                            <td align="right">City : </td>
                            <td align="left"><input type="text" class="textfield" /></td>
                            </tr>

                            <tr>
                            <td align="right">Mobile : </td>
                            <td align="left"><input type="text"  class="textfield"/></td>
                            </tr>



                            <tr>
                            <td></td>
                            <td align="left"><input type="button" value="Submit" class="inputbutton"/>
                            <input type="button" value="Cancel" class="inputbutton" /></td>
                            </tr>

                            </table>
                        </td>
                        </tr>



                        </table>
                    </td>
                    </tr>




                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr></tr>
    <tr>
        <td class="footer copyright" align="right">Copyright @ 2014 Wiki-Gujarat . All rights reserved.</td>
    </tr>
</table>
</asp:Content>

