﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="AdminLogin.aspx.cs" Inherits="AdminLogin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>login</title>
  <link rel="stylesheet" href="css/admin.css" />
</head>

<body>
<form runat="server">
<table width="100%" cellpadding="0" cellspacing="0">
<tr>
<td>
    <table class="logintable" align="center">

        <tr>
        <td><center></center></td>
        </tr>

    </table>
     <center>
     <table class="tab" align="center" cellpadding="0"cellspacing="0">

        <tr>
        <td class="strip">Welcome to the Admin Panal</td>
        </tr>

        <tr>
        <td>
            <table cellpadding="0"cellspacing="0">
            <tr>

            <td align="left"><img src="images/lock.jpg" alt="lock" /></td>
            <td class="padd">
                <table style="padding: 10px" >
                <tr><td class="paddbottom">Username : <input type="text" style="width: 240px;border-radius: 5px"/></td></tr>

                <tr><td>Password : <input type="text"  style="width: 240px;border-radius: 5px"/><br></td></tr>

                <tr>
                <td>
                    <table>
                    <tr>
                    <td width="73px"><br></td>
                    <td><input type="checkbox" style="margin-left: 20px" />Keep me signed - in<br> </td><br></tr>
                    <tr>
                    <td width="73px"><br></td>

                    <td><input type="button"value="Login" class="inputbutton" style="margin-left:30px;padding: 10px;border-radius: 5px" /></td>
                    </tr>
                    </table>
                </td>
                </tr>


                </table>


            </td>

            </tr>
            </table>
            </center>

        </td>
        </tr>


    </table>

</td>
</tr>

</table>
</form>
</body>
</html>
