﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Admin.master.cs" Inherits="Admin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link rel="stylesheet" href="css/admin.css" type="text/css" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table align="center" class="table">
            <!-- for Header -->
            <tr>
                <td>
                    <table class="table">
                        <tr>
                            <td align="left">
                                <span style="font: 40px Impact, Charcoal, sans-serif">Wiki Gujarat</span>
                            </td>
                            <td align="right">
                                <table>
                                    <tr>
                                        <td>
                                            <img src="images/admin_icon.jpg" alt="admin" />
                                        </td>
                                        <td align="left">
                                            Welcome,<font color="Red"><b> Dhruv Patel </font>
                                            <br>
                                            <a href="">LOGOUT</a></b>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- for Navigation -->
            <tr>
                <td>
                    <table class="nav1">
                        <tr>
                            <td>
                                <ul>
                                    <li><a href="link2">Dashboard</a></li>
                                    <li><a href="link3">Add User</a></li>
                                    <li><a href="link4">Edit User</a></li>
                                    <li><a href="link4">Edit User Privilege</a></li>
                                    <li><a href="link4">Edit Page Privilege</a></li>
                                    <li><a href="link5">Users</a></li>
                                    <li><a href="Admin_AddCategory.aspx">Add New Category</a></li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            <!-- for Welcome Note -->
            <tr>
                <td>
                    <h1>
                        Welcome to the Admin Panel of Wiki Gujarat</h1>
                </td>
            </tr>
            <!-- for space -->
            <tr>
                <td class="space">
                </td>
            </tr>
        </table>
        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
