﻿<%@ Page Title="" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true"
    CodeFile="Default.aspx.cs" Inherits="_Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="Server">
<style type="text/css">
    .subtitle
    {
        
        
        font-size:large;
        font-weight:bold;
        color:Green;
        }
</style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="Server">
    <form method="get">
    <div class="right_content">
        <div class="content">
            <div>
                <div class="search_div">
                    <asp:TextBox ID="txtsearch" runat="server" class="search">india</asp:TextBox></div>
                <asp:Label ID="txtloginuser" runat="server"></asp:Label>
                <asp:Button ID="Button1" runat="server" Text="Search" OnClick="Button1_Click" Style="margin-left: 842px" />
                <asp:Label ID="lbtitle" runat="server" Text="Label" class="main_title"></asp:Label><hr />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <asp:Button ID="Btedit" runat="server" OnClick="Btedit_Click" Style="margin-left: 0px"
                    Text="Edit Page" Width="116px" />
                <asp:Button ID="DeleteButton" runat="server" OnClick="DeleteButton_Click" Style="margin-left: 28px"
                    Text="Request Delete" Width="122px" />
            </div>
            <div class="mainimg_box">
                <div class="img_box">
                    <asp:Image ID="Image1" runat="server" alt="No image" width="200px" height="270px"/>
                    <%--<img src="images/Amdavad_Aerial.jpg" alt="ahmedabad" width="200px" height="270px" />--%></div>
                <div style="padding: 10px 60px">
                    <u><b>AHMEDABAD</b></u>
                    </div>
            </div>

            <div style="overflow: hidden; word-wrap: break-word; padding: 10px;">
            
           
                <asp:Panel ID="Panel1" runat="server" Visible="False">
                 <asp:Label ID="lbst1" class="subtitle" runat="server" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent1" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel2" runat="server" Visible="False">
                 <asp:Label ID="lbst2" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent2" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel3" runat="server"  Visible="False">
                 <asp:Label ID="lbst3" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent3" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel4" runat="server"  Visible="False">
                 <asp:Label ID="lbst4" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent4" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel5" runat="server" Visible="False">
                 <asp:Label ID="lbst5" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent5" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                 </asp:Panel>

                 <asp:Panel ID="Panel6" runat="server" Visible="False">
                 <asp:Label ID="lbst6" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent6" runat="server" Text=""></asp:Label>
                
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel7" runat="server" Visible="False">
                 <asp:Label ID="lbst7" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent7" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel8" runat="server" Visible="False">
                 <asp:Label ID="lbst8" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent8" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel9" runat="server" Visible="False">
                 <asp:Label ID="lbst9" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent9" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>

                <asp:Panel ID="Panel10" runat="server" Visible="False">
                 <asp:Label ID="lbst10" runat="server" class="subtitle" Text=""></asp:Label><br/>
                 <hr/>
                 <asp:Label ID="lbcontent10" runat="server" Text=""></asp:Label>
                 <br/>
                 <br/>
                </asp:Panel>
                
        </div>
    </div>
    </form>
</asp:Content>
