﻿<%@ Page Title="" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="portal.aspx.cs" Inherits="portal" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

 <div class="right_content">
        <div class="content">
           <div><span class="main_title">Title</span><hr/></div>
           <div style="padding: 10px">
           <div class="portal_box"><img src="images/logo_505753_web.jpg" alt="" /></div>
           <div class="portal_box"></div>
           <div class="portal_box"></div>
           <div class="portal_box"></div>

           </div>

           <div style="padding: 10px">
           <div class="portal_box"></div>
           <div class="portal_box"></div>
           <div class="portal_box"></div>
           <div class="portal_box"></div>
           </div>
        </div>
    </div>

</asp:Content>

