﻿<%@ Page Title="" Language="C#" MasterPageFile="~/site.master" AutoEventWireup="true" CodeFile="temp.aspx.cs" Inherits="temp" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<div> <asp:FileUpload ID="FileUpload1" runat="server" Style="float:left"/></div>
                         <div><asp:Button ID="Btupload" runat="server" Text="Upload" 
                                 onclick="Btupload_Click" /></div>
                        <div><asp:Label ID="lblupmessage" runat="server" style="Font-Bold:true"></asp:Label></div>
                        <div><asp:Panel ID="pncontent" runat="server" Direction="LeftToRight" 
                                style="margin-left: 165px">
                    </asp:Panel></div>
    <asp:Button ID="Button1" runat="server" Text="Button" onclick="Button1_Click" />

</asp:Content>

