﻿.logintable
{
    width: 520px;
    margin-top: 10%;
    text-align: center;
}

.tab
{
  border: 1px;
  border-color: #c6c6c6;
  border-style: solid;
  padding: 0;
  margin: 0;
  border-radius: 10px
}

.strip
{
  background-color: #000000;
  color: #ffffff;
  height: 35px;
  padding: 10px;
  font-weight: bold;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 15px;

}

.padd
{
  padding: 10px;

}

.paddbottom
{
  padding-bottom: 10px;
}

.inputbutton
 {
   cursor:pointer;
   color:#ffffff;
   text-align:center;
   background:#000000;
   border:none;
    font-size:12px;
   font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    padding : 10px ;
    border-radius: 5px

}

.aa
{
  text-decoration: none;
  color: #000000;
}

.body
{
    background-color: #FFFFFF;
    Font-family: Arial;
    Font-size: 12px;
    color: #212121;
}
.login
{
    width: 520px;
    margin-top: 10%;
    border-color: #c6c6c6;

}
.table
{
  width: 1000px;
}

.blackbtn
{
    background-color: #000100;
    padding-top: 3px;
    padding-left:5px;
    padding-bottom:3px;
    padding-right: 5px;
}

.sel
{
  width: 150px;
}

.text
{
  height: 15px;
   width: 150px;
}

.space
{
  height: 10px;
}

input
{
    border-width:1px;
    border-style:solid;
    border-color:#b8b8b8;
    color:#14222b;
    background-color:#ffffff;
    font-size:11px;
    font-family:Arial, Helvetica, sans-serif;
    padding:2px;
    margin: 7px;
}
textarea
{
    border-width:1px;
    border-style:solid;
    border-color:  #b8b8b8;
    padding:2px;
    font-size:11px;
    background-color:#ffffff;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
}
select
{
    border-width:1px;
    border-style: solid;
    border-color:#b8b8b8;
    padding:2px;
    font-size:11px;
    background-color:#ffffff;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    margin: 5px;
}
.inputbutton
{
    cursor:pointer;
    color:#ffffff;
    text-align:center;
    background-color:#000000;
    border:none;
    font-size:12px;
    font-weight:bold;
    font-family:Arial, Helvetica, sans-serif;
    padding-top:4px;
    padding-bottom:4px;
}
.label
{
    color:#333;
    font-weight:bold;
    font-family: Arial;
}

h1
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}

.border
{
    border-width:1px;
    border-style: solid;
    border-color:#dbdbdb;
    padding:1px;
}
.nobg
{
    background:none;
    border:none;
}
.center
{
    width: 520px;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
a
{
  text-decoration: none;
  color: #000000;
}
.nav1
{
    background-color: #000000;
    height: 30px;
    width:1000px;
}
.nav1 ul
{
     padding: 0px;
     margin: 0px;
     list-style-type: none;
     width:100%;
}
.nav1 ul li
{
     color: #000000;
     Font-family: Arial;
     Font-size: 12px;
     display: inline;
     padding-left: 10px;
     padding-right: 10px;
}
.nav1 ul li a
{
     color: #ffffff;
     text-decoration: none;
     font-weight: bold;
     padding: 10px
}
.nav1 ul li a:hover
{
     color:#CC271E ;
     background-color: #ffffff;
}
.gray
{
    background-color: #cccccc;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14px;
    width: 1000px;
}
.grayboxborder
{
    border-color: #cccccc;
    border-width:1px;
    border-style: solid;
    padding:1px;
}
.footer
{
    background-color: #c4c4c4;
    height: 40px;
    text-align: right;
    font-weight: 500;
    font-size: 15px;
}
.copyright
{
    color: #454746;
}
.errormsg
{
    background-color: #ffcecf;
    border-color: #df8f90;
    border-style: solid;
    border-width: 1px;
    padding: 6px;
}
.successmsg
{
    background-color: #d5ffcf;
    border-color: #88c673;
    padding: 6px;
    border-style: solid;
    border-width: 1px;
}
.mandatory
{
    color:#990000;
    font-weight:bold;
    font-size:12px;
}
.dottedline
{
  background:url(../images/dotedline.gif) repeat-x bottom;
  height:8px;
}
.sfont
{
    font-size:10px;
    color:#888888;
    font-style:italic;
}
.altbg
{
    background-color:#f0f0f0;
    border-top-width:1px;
    border-top-style:  solid;
    border-top-color:  #c6c6c6;
}
.nrlbg
{
    background-color:#ffffff;
    border-top-width:1px;
    border-top-style: solid;
    border-top-color: #c6c6c6;
}
.gridheader
{
    background-color:#252525;
    color:#fff;
    line-height:normal;
    padding:6px 0px 6px 5px;
    text-align: left;
}

.formtab
{
  margin-bottom: 10px;
  margin-top: 10px;
}

.errortab
{
  margin: 10px;
  width: 970px;
}

.gridwidth
{
  width: 970px;
}

.textfield
{
  width: 150px;
  text-align: left;
  border-radius: 5px
}

.textarea
{
  margin-left: 5px;
  width: 150px;
  border-radius: 5px
}

.innertab
{
  margin-top:20px;
  margin-left: 50px;
  margin-bottom: 30px;
}

.form
{
  background-color: #000000;
  color: #ffffff;
  height: 30px;
  padding-left: 10px;
  font-weight: bold
}

