body
{
font-family: Verdana, Geneva, sans-serif;
font-size: 13px;
margin: 0px;
padding: 0px;
}

.wrapper
{

}

.left_pane
{
    width: 15%;height: 1000px;float: left;background-image: url(../images/wrapperbg.jpg);
}

.nav
{
  padding:0px 10px;border-bottom:1px dotted #404ECC;border-top:1px dotted #404ECC
}

.nav ul
{
  list-style-type: none;padding: 0px;margin: 0px;
}

.nav ul li
{
  padding: 10px 0px;border-bottom: 1px dotted #022D40;background-image:;background-repeat: no-repeat;background-position: 140px 0px
}

.nav ul li a
{
color: #022D40;text-decoration: none;font-size: 14px;padding: 10px
}

.nav ul li a:hover
{
  text-decoration: none;color: #fff;background-color:#022D40;
}


.top_header
{
    width: 85%;height: 100px;float: left;background-image:url(../images/header_bg1.jpg)
}

.login_div
{
  float: right;margin-top: 15px
}

.crtacc_text
{
  color: #FFCCCC;text-decoration: none
}

.login_text
{
  color: #FFCCCC;text-decoration: none;margin:0px 20px;
}

.search_div
{
  float: right;margin-right: 20px
}

.search
{
  border: none;padding: 2px;background-image: url(../images/search_1.jpg);background-repeat: no-repeat;background-position: 133px 0px
}

.right_content
{
    width: 85%;height: 890px;float: left; background-image: url(../images/grain.jpg);
}

.content
{
  width: auto;margin: 10px;height: 870px;
}

.main_title
{
  color: #2A931A;font-size: 20px;
}

.mainimg_box
{
  width: 210px;height: 400px;background-color: #E6E6E6;margin: 15px 10px 15px 0px;box-shadow: 0 0 30px #858585;float: right;padding: 15px
}

.img_box
{
  width: 210px;height: 270px;background-color: #fff;box-shadow: 0 0 10px #858585;
}

.footer
{
width: 100%;height: 100px;overflow: hidden;
}

.fnav
{
  height: 35px;background-color: #02354d;padding: 15px 0px 0px 30px
}

.fnav ul
{
  list-style-type: none;padding: 0px;margin: 0px;
}

.fnav ul li
{
  padding: 0px 10px;border-right: 1px solid #fff;float:left;
}

.fnav ul li a
{
  color: white;text-decoration: none;font-size: 14px;
}

.fnav ul li a:hover
{
  text-decoration: none;color: #9C9C9C;
}

.footer_lastdiv
{
  height: 50px;background-color: #022D40
}

.fb
{
  float: left;padding: 10px 10px 10px 30px;margin: 0px
}

.other_icon
{
  float: left;padding: 10px 10px 10px 10px;margin: 0px
}

.copyrgt_div
{
  float:right;margin-right: 20px;color: #ccc;padding-top: 15px
}

.company_name
{
  color: #EDEDED;text-decoration: none
}







.portal_box
{
  width: 22%;height: 380px;background-color:#FF2424;margin: 15px;float: left;background-color: #E6E6E6;box-shadow: 0 0 30px #858585;
}
